div {
    justify-content: center;
}
button {
    box-sizing: border-box;

    position: absolute;
    width: 470px;
    height: 75px;scroll-snap-align: ;
    background: #FFFFFF;
    border: 1px solid #0068FF;
    border-radius: 10px;
}
h1 {
    justify-content: center;
    width: 466px;
    height: 94px;
    
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;   
    color: #0068FF;
}
